// Fonts
$font-main: 'Inter', sans-serif;
// $font-accent: 'Playfair Display', serif;
// $font-secondary: 'Roboto', sans-serif;

// Colors
$dark: #000;
$accent: #da2e1f;
$white: #fff;

// Media
$tablet: 959px;
