.features {
  margin: 70px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
}

.card {
  display: flex;
  width: 274px;
  height: 106px;
  padding-left: 32px;
  align-items: center;
  background-color: #eff9ff;
  border: 1px solid #ededed;
  border-radius: 8px;

  &__img {
    width: 32px;
    height: 32px;
  }

  &__text {
    margin-left: 16px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
  }

  @media (max-width: 1100px) {
    padding-right: 10px;
  }
}

.features {
  margin: 70px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap; /* чтобы карточки могли переноситься */
  }
}

.card {
  display: flex;
  width: 274px;
  height: 106px;
  padding-left: 32px;
  align-items: center;
  background-color: #eff9ff;
  border: 1px solid #ededed;
  border-radius: 8px;

  &__img {
    width: 32px;
    height: 32px;
  }

  &__text {
    margin-left: 16px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
  }

  @media (max-width: 1200px) {
    width: 45%; /* две карточки в ряд */
    padding-right: 10px;
    margin-bottom: 20px;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 20px;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;

    &__text {
      margin-left: 12px;
    }

    &__title {
      font-size: 14px;
    }

    &__description {
      font-size: 12px;
    }
  }

  @media (max-width: 400px) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 16px;

    &__text {
      margin-left: 0;
      margin-top: 8px;
    }
  }
}
