.header {
  width: 100%;
  padding: 26px 0;
  box-shadow: 0 2px 8px #9f9f9f;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icons {
    display: flex;
    gap: 32px;

    @media (max-width: 1100px) {
      gap: 20px;
    }
  }

  .logo {
    &::after,
    &:hover::after {
      display: none;
    }

    &__img {
      width: 90px;
    }
  }

  .menu {
    display: flex;
    gap: 32px;

    @media (max-width: 1100px) {
      gap: 20px;
    }

    &__item {
      position: relative;

      a {
        display: flex;
        align-items: center;
        gap: 6px;
        text-decoration: none;
        color: #0d0d0d;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 1px;
          background-color: $accent;
          transform: scaleX(0);
          transform-origin: left;
          opacity: 0;
          transition: transform 0.3s ease, opacity 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
          opacity: 1;
        }
      }

      .arrow {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-left: 5px;
        position: relative;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          width: 8px;
          height: 1px;
          background-color: #0d0d0d;
          transform-origin: center;
          transition: transform 0.3s ease;
        }

        &::before {
          left: -5px;
          transform: rotate(45deg);
        }

        &::after {
          left: 0;
          transform: rotate(-45deg);
        }
      }

      &:hover {
        .submenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }

        .arrow {
          &::before {
            transform: rotate(-45deg);
          }
          &::after {
            transform: rotate(45deg);
          }
        }
      }

      .submenu {
        position: absolute;
        top: 110%;
        left: 0;
        background: #fff;
        padding: 20px 15px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 10;

        .submenu__item + .submenu__item {
          margin-top: 20px;
        }
      }
    }
  }

  .icon {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &__img {
      width: 32px;
      height: 32px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--alert::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 7px;
      height: 7px;
      background-color: #da2e1f;
      border-radius: 50%;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;

  span {
    display: block;
    height: 2px;
    background-color: #0d0d0d;
    transition: 0.3s;
  }

  &.active {
    span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

@media (max-width: 960px) {
  .burger {
    display: flex;
  }

  .header__nav {
    position: absolute;
    top: 26%;
    left: 0;
    right: 0;
    background: #fff;
    flex-direction: column;
    padding: 20px;
    transform: translateY(-200%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;

    &--active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }

  .header__icons {
    gap: 10px;
  }

  .icon__img {
    width: 20px;
    height: 20px;
  }
}
